{% extends 'base.html.twig' %}

{% block title %}
    {{ label.app_name ~ " - Editer un trajet" }}
{% endblock %}

{% block body %}
    <div class="container-height text-3xl lg:text-base">
        <div class="w-full lg:hidden" {{ react_component('Tab') }}></div>
        <div class="flex h-full">
            <div id="tab_steps" class="w-full lg:w-1/2 block">
                <div class="h-full overflow-y-scroll pb-2" {{ react_component('Day', {'data': steps, 'project_name': name, 'project_id': id, 'edit': true} ) }}></div>
            </div>
            <div id="tab_map" class="w-full lg:w-1/2 hidden lg:block">
                <div id="map" class="h-full w-full"></div>
            </div>
        </div>
    </div>
{% endblock %}
