{% extends 'base.html.twig' %}

{% block title %}
    {{ label.app_name ~ " - Liste des voyages" }}
{% endblock %}

{% block body %}
    <div class="container-height">
        <div class="flex h-full mx-7">
            <div class="w-full">
                {% if data %}
                    <div {{ react_component('Travel', {'data': data} ) }}></div>
                {% else %}
                    <div class="text-gray-700 mt-2 ml-2">
                        <p>Aucun voyage à afficher</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
