{% extends 'base.html.twig' %}

{% block title %}
    {{ label.app_name ~ " - Budget" }}
{% endblock %}

{% block body %}
    <div class="container-height">
        <div class="flex h-full mx-7">
            <div class="w-full">
                <div {{ react_component('Budget', {'travel_id': travel_id, 'budgets': budgets, 'expenses': expenses, 'travelers': travelers} ) }}></div>
            </div>
        </div>
    </div>
{% endblock %}
