{% extends 'base.html.twig' %}

{% block title %}
    {{ label.app_name ~ " - Budget" }}
{% endblock %}

{% block body %}
    <div class="container-height">
        <div class="flex h-full mx-7">
            <div class="w-full">
                Page en cours de développement
            </div>
        </div>
    </div>
{% endblock %}
