<nav class="flex items-center justify-between flex-wrap bg-blue-400 p-6">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
        <i class="fa-solid text-5xl lg:text-2xl fa-earth-americas mr-2 mt-2 lg:mt-1"></i>
        <span class="font-semibold text-5xl lg:text-2xl tracking-tight">Travel Planner</span>
    </div>
    <div class="flex flex-grow items-center w-auto pt-1">
        <div class="text-4xl lg:text-lg flex-grow mt-1 lg:mt-0">
            <a href="{{ path('app_edit_travel') }}" class="inline-block mt-0 text-blue-200 hover:text-white mr-4">
                Nouveau trajet
            </a>
            <a href="{{ path('app_travels') }}" class="inline-block mt-0 text-blue-200 hover:text-white mr-4">
                Liste des trajets
            </a>
        </div>
    </div>
</nav>
