<nav class="flex items-center justify-between flex-wrap bg-blue-400 p-6">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
        <i class="fa-solid fa-xl fa-earth-americas mr-2"></i>
        <span class="font-semibold text-2xl tracking-tight">Travel Planner</span>
    </div>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto pt-1">
        <div class="text-lg lg:flex-grow">
            <a href="{{ path('app_new_travel') }}" class="block mt-4 lg:inline-block lg:mt-0 text-blue-200 hover:text-white mr-4">
                Nouveau trajet
            </a>
            <a href="{{ path('app_travels') }}" class="block mt-4 lg:inline-block lg:mt-0 text-blue-200 hover:text-white mr-4">
                Liste des trajets
            </a>
        </div>
    </div>
</nav>
